<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initiale-scale=1.0">
        <meta name="description" content="MO3C.fr est le site de l'entreprise MO3C, spécialisé dans le commissariat aux comptes, aux apports, à la fusion et à la transformation.
            De plus, l'entreprise propose aussi ses services de consolidation, de RSE, de bilan carbone, et d'audit de cybersécurité, ">
        <title>{% block title %}MO3C{% endblock %}</title>
        <link rel="icon" href="img/logo-mini.png">
        <link rel="stylesheet" href="{{ asset('styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <header>
            {% include "structure/navbar.html.twig" %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>

        {% include "structure/footer.html.twig" %}

    </body>
</html>
