{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="banner"></div>
    <section class="container">
        <p class="mentionsLegal">
            MENTIONS LÉGALES
            Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site MO3C l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
            Edition du site 
            Le présent site, accessible à l’URL www.MO3C.fr (le « Site »), est édité par :
            Marc-Oliver Caffier, résidant 416 Rte d'Angleterre 76190 Saint-Martin-de-l'If, de nationalité Française (France), né(e) le 13/03/1955,  inscrite au R.C.S. de ROUEN sous le numéro 491 205 464 R.C.S. Rouen,
            Le numéro individuel TVA de l’éditeur est : FR67491205464.
            Hébergement
            Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).
            Directeur de publication 
            Le Directeur de la publication du Site est Marc-Oliver Caffier.
            Nous contacter 
            Par téléphone : +33689263545
            Par email : caffier.ed@gmail.com
            Par courrier : 416 Rte d'Angleterre 76190 Saint-Martin-de-l'If
            Données personnelles
            Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
        </p>
    </section>
{% endblock %}
